<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/guess.js}"></script>
    <style>
        canvas{
    display:block;
    border:2px solid #0094ff;
    width:500px;
    height:500px;
     }
    </style>
</head>
<body>


<div class="container">
    <div class="row">
        <div class ="col-md-9">
            <canvas id="canv" ></canvas>
        </div>
        <div class="col-md-3">
            <div th:each="users : ${allUsers}" th:text="${users}"></div>
        </div>
    </div>
</div>
<form>
 <input name="answer" />
  <button type="submit">Guess</button>
</form>
<div id = "refr">
        <input type="hidden" id="all" name="all" th:value="${all}"/>
    <input type="hidden" id="gamename" name="gamename" th:value="${gamename}"/>
    <table th:replace =" fragments :: table1" >

    </table>
</div>
</body>
</html>